window {
    margin: 0px;
    border: 2px solid #89b4fa; /* Blauwe rand */
    background-color: #1e1e2e; /* Donkere achtergrond */
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font", sans-serif; /* Gebruik de nieuwe font */
    font-size: 16px;
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 5px; 
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #89b4fa; /* Blauwe selectie */
    border-radius: 5px;
    border: none;
}

#text:selected {
    color: #1e1e2e; /* Zwarte tekst bij selectie */
}
